@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

:root {
  --family: 'Jost', sans-serif;
  --pink-color: #FF868E;
  --pink-color-light: #FBE0DC;
  --green-color: #97EAB9;
  --purple-color: #B4B7FF;
  --orange-color: #FFD280;
  --grey-color: #8C8C8C;
  --grey-color-light: #F8F8F7;
  --grey-color-dark: rgba(255, 255, 255, 0.10);
  --black-color: #1D1D1D;
  --black-color-light: #282828;
  --white-color: #fff;

  --fs-xxl: 44px;
  --fs-xl: 36px;
  --fs-lg: 20px;
  --fs-md: 16px;
  --fs-sm: 12px;
  --fs-xs: 10px;
  --fw-light: 400;
  --fw-bold: 500;

  --rad-xs: 5px;
  --rad-sm: 10px;
  --rad-lg: 20px;
  --rad-xl: 50px;

}

* {
  box-sizing: border-box;
}

body[data-theme='light'] {
  background-color: var(--grey-color-light);
  --bg-dark: #F8F8F7;
  --bg-light: #fff;
  --bg-color: #FBE0DC;
  --text-color-dark: #1D1D1D;
}

body[data-theme='dark'] {
  background-color: var(--black-color);
  --bg-dark: #1D1D1D;
  --bg-light: rgba(255, 255, 255, 0.05);
  --bg-color: rgba(255, 134, 142, 0.20);
  --text-color-dark: #fff;
}

body {
  margin: 0;
  font-family: var(--family);
}





